<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function fn_mod(){
	location.href = "member_mod?m_id={{vo.m_id}}";
}
function fn_del_act(){
	// 삭제 확인용
	var flag = confirm("한번 지워진 데이터는 복구되지 않습니다.\n정말 지우겠습니까?");
	if(!flag){
		return;
	}
	//document.getElementById("frm").submit();
	document.frm.submit();
}
</script>
</head>
<body>
MEMBER_DETAIL
<form action="member_del_act" name="frm" method="post">
<input type="hidden" name="m_id" value="{{vo.m_id}}" />
</form>
<table border="1px">
	<tr>
		<td>사번</td>
		<td>{{vo.m_id}}</td>
	</tr>
	<tr>
		<td>이름</td>
		<td>{{vo.m_name}}</td>
	</tr>
	<tr>
		<td>전화번호</td>
		<td>{{vo.tel}}</td>
	</tr>
	<tr>
		<td>이메일</td>
		<td>{{vo.email}}</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" value="수정" onclick="fn_mod()" />
			<input type="button" value="삭제" onclick="fn_del_act()" />
		</td>
	</tr>
</table>
</body>
</html>