<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function fn_mod(){
	document.frm.submit();
}
</script>
</head>
<body>
MEMBER_MOD
<form action="member_mod_act" name="frm"  method="post">
<table border="1px">
	<tr>
		<td>사번</td>
		<td>
			<input type="text" name="m_id" value="{{vo.m_id}}" />
		</td>
	</tr>
	<tr>
		<td>이름</td>
		<td>
			<input type="text" name="m_name"  value="{{vo.m_name}}" />
		</td>
	</tr>
	<tr>
		<td>전화번호</td>
		<td>
			<input type="text" name="tel"  value="{{vo.tel}}" />
		</td>
	</tr>
	<tr>
		<td>이메일</td>
		<td>
			<input type="text" name="email"  value="{{vo.email}}" />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" value="저장" onclick="fn_mod()" />
		</td>
	</tr>
</table>
</form>
</body>
</html>